.MenuButton {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin: 3rem 1rem 0 0; 
    background-color: var(--blue);
}

.MenuButton span {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

