.container {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 2s ease;
    z-index: 2;
}

.active {
    position: relative;
    height: 100%;
    width: 60%;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.active_image {
    height: 100%;
    width: 100%;
}

.container:hover {
    cursor: pointer;
    scale: 1.05;
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 0px;
    height: 0px;
    background-color: white;
    animation: enlarge 1s ease 0.5s;
    animation-fill-mode: forwards;
}

.image {
    width: 100px;
}

.hidden {
    display: none;
}

@keyframes enlarge {
    from {
        background-color: black;
        width: 0;
        height: 0;
    }
    to {
        background-color: white;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}