.container {
    position: absolute;
    transition: transform 0.3s ease-in-out;
    right: 1rem;
    bottom: 2rem;
    z-index: 10;
  }
  
.active {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: containerMove 0.3s ease-in-out forwards;
    z-index: 10;
}
  
.container.active {
    animation: containerMove 0.3s ease-in-out forwards;
}
  
.image {
    cursor: pointer;
}
  
.image:hover {
    animation: imageScale 1s ease-in-out infinite;
}

.image {
    width: 100px;
}

.activeImage {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.container:hover {
    cursor: pointer;
    scale: 1.05;
}

.screen {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-wrap: wrap;
    margin: auto;
    width: 0px;
    height: 0px;
    background-color: white;
    animation: enlarge 1s ease 0.5s forwards;
    overflow: auto; 
}

.hidden {
    display: none;
}

.pokemonImage {
    cursor: pointer;
    transition: 0.2s ease;
    height: auto;
    width: 100px;
    padding-right: 1rem;
    align-self: flex-end;
}

.singlePokemonContainer {
    z-index: 20;
    width: 100%;
    height: 100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: white;
    overflow: auto;
}

.backButton {
    position: absolute;
    cursor: pointer;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}

.closeButton {
    opacity: 0;
    animation: appear 1s ease 1s forwards;
    position: absolute;
    margin-top: 3rem;
    cursor: pointer;
    transform: translateX(-50%);
    left: 50%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    };
    to {
        opacity: 10;
    }
}

@keyframes enlarge {
    from {
        background-color: black;
    }
    to {
        background-color: white;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}

@keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes containerMove {
    0% {
      scale: 0.7;
      transform: translate(0, 0);
    }
    100% {
      scale: 1;
      transform: translate(-50%, -50%);
    }
  }
  
  @keyframes imageScale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }

.pokedexItem {
    background-color: var(--green-dark);
    border-radius: 20px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 200px;
    width: 250px;
    margin: 2rem;
    cursor: pointer;
    animation: appear 1s ease 1s forwards;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.pokedexItem:hover .pokemonImage {
    scale: 1.3;
}

.textWrapper {
    align-self: flex-start;
    margin-left: 2rem;
    background-color: var(--green-light);
    border-radius: 100px;
    height: auto;
}

.textWrapper p {
    text-align: center;
    display: inline;
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0 1.5rem 0 1.5rem;
}

.previousButton {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1rem;
}

.nextButton {
    position: absolute;
    bottom: 0; 
    right: 0;
    margin: 1rem;
}

.singlePokemon {
    background-color: var(--blue);
    border: 3px solid var(--ivory);
    color: var(--ivory);
    border-radius: 20px;
    width: 400px;
    padding: 5rem 2rem 6rem;
    margin: 2rem auto auto auto;
    position: relative;
}