.fetch-data-button {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--purple);
}

.typePokeball {
    cursor: url("../../assets/images/pokeball.svg"), auto;
}

.typeGreatball {
    cursor: url("../../assets/images/greatball.svg"), auto;
}

.wobble {
    animation: wobble 1s infinite;
}

@keyframes wobble {
    0% {transform: rotate(-15deg);}
    25% {transform: rotate(15deg);}
    50% {transform: rotate(-15deg);}
    75% {transform: rotate(15deg);}
    100% {transform: rotate(-15deg);}
}

.pokemonInfo {
    background-color: var(--red);
    border: 3px solid var(--ivory);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    text-align: left;
    padding: 0.5rem;
    padding-right: 3rem;
    margin-left: 6rem;
    position: relative;
}

.pokemonInfo span {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    opacity: 0.15;
    border-top-right-radius: 20px;
}

.pokemonInfo p {
    color: var(--ivory);
    margin: 0;
}

.button-shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    background-color: white;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 0.15;
    z-index: 0;
}

.sprite {
    animation: catchAnimation 1s infinite ease-out;
}

@keyframes catchAnimation {
    from {
      transform: rotate(0deg) scale(1.5);
    }
    to {
      transform: rotate(359deg) scale(0.1);
    }
}