.xp_bar_container {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 1rem 1rem;
}

.xp_bar {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.level {
    font-size: 20px;
    font-weight: bold;
    color: var(--ivory);
    line-height: 0;
}

label {
    color: var(--ivory);
    padding: 0 0 0.5rem 0;
    position: absolute;
    left: 5px;
    bottom: 8.5px;
}

progress[value] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    width: 200px;
    height: 20px;
    margin-bottom: 15px;
}
  
progress[value]::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.368);
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

progress[value]::-webkit-progress-value {
    position: relative;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}