.xp_bar_container {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level {
    font-size: 20px;
    font-weight: bold;
    color: var(--ivory);
}

label {
    color: var(--ivory);
    font-size: 20px;
}

progress[value] {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    width: 200px;
    height: 20px;
    margin-bottom: 15px;
}
  
  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}
  
  progress[value]::-webkit-progress-value {
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}